<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EdmxNs" value = "http://schemas.microsoft.com/ado/2008/10/edmx"/>
    <add key="EdmxSchemaSmNs" value = "http://schemas.microsoft.com/ado/2009/02/edm/ssdl"/>
    <add key="EdmxSchemaCmNs" value = "http://schemas.microsoft.com/ado/2008/09/edm"/>
  </appSettings>
</configuration>